@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-script: "Inter", serif;
}

html {
  scroll-behavior: smooth;
}
.flex svg path {
  fill: #272b41;
}
.flex.active svg path{
  fill: white;
}
.hospital_pattern{
  object-fit: cover;
}
